[Unit]
Description=Hello App service
Requires=network.target 
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/helloapp/
ExecStart=/opt/java/bin/java -jar /helloapp/quarkus-run.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
